

html,
body {
  height: 100%;
  margin: 0;
  background: lightblue;
}

header {
	margin: auto;
	width: 800;
	border-bottom: medium darkgrey solid;
	margin-bottom: 20px;
}
main {
	width: 800;
	margin: auto;
}
h1 {
	display: inline-block;
	margin: 2px;
}
h2 {
	display: inline-block;
	margin: 2px;
}
nav{
	display: block;
	width: 100%
}

#counter{
	display: inline-block;
}

#game {
	margin: auto;
}

#game table{
	height: 100%;
	width:100%;
	table-layout: fixed;
	border-collapse: collapse;
	font-size: x-small;
}

#game table td {
	text-align: center;
	vertical-align: middle;
	border: thin lightgrey solid;
}

#game td.empty {
	background-color: white;
}


#game td.snake {
	background-color: grey;
}

#game td.snake.head {
	background-color: red;
}
#game td.snake.head {
	background-size: contain;
	background-repeat: no-repeat;
}
/*#game td.snake.head.north {
	background-image: url(arrownorth.png) ;
}
#game td.snake.head.east {
	background-image: url(arroweast.png) ;
}
#game td.snake.head.west {
	background-image: url(arrowwest.png) ;
}
#game td.snake.head.south {
	background-image: url(arrowsouth.png) ;
}*/

#game td.food {
	background-image: url('food.png') ;
	background-repeat: no-repeat ;
	background-size: contain;
}



