

html {
	height: 100%;
}
body {
  height: 100%;
  width:800;
  margin: auto;
  background: lightblue;
}

header {
	margin: auto;
	border-bottom: medium darkgrey solid;
	margin-bottom: 20px;
}
main {
	margin: auto;
}
h1 {
	display: inline-block;
	margin: 2px;
}
h2 {
	display: inline-block;
	margin: 2px;
}
nav{
	display: block;
	width: 100%
}

.seethrough {
	background: transparent;
	border: none;
	display: inline;
	width:50%;
	font-size: inherit;
	font-style: inherit;
	font-family: inherit;
}

#counter{
	display: inline-block;
}

#control {
	display: inline-block;
	width: 180px;

	float: left;
	vertical-align: top;
}
#areaForGame {
	margin-left: 210px;
}
#game {
	display: inline-block;
	margin: auto;
}

#game table{
	height: 100%;
	width:100%;
	table-layout: fixed;
	border-collapse: collapse;
	font-size: x-small;
}

#game table.openborder {
	border: dotted grey medium;
}

#game table.closedborder {
	border: solid grey medium;
}
#game table td {
	text-align: center;
	vertical-align: middle;
	border: thin lightgrey solid;
}

#game td.empty {
	background-color: white;
}


#game td.snake {
	background-color: grey;
}

#game td.snake.head {
	background-color: red;
}
#game td.snake.head {
	background-size: contain;
	background-repeat: no-repeat;
}
/*#game td.snake.head.north {
	background-image: url(arrownorth.png) ;
}
#game td.snake.head.east {
	background-image: url(arroweast.png) ;
}
#game td.snake.head.west {
	background-image: url(arrowwest.png) ;
}
#game td.snake.head.south {
	background-image: url(arrowsouth.png) ;
}*/

#game td.food {
	background-image: url('food.png') ;
	background-repeat: no-repeat ;
	background-size: contain;
}



